{
    "swagger": "2.0",
    "info": {
        "title": "奇点资讯API文档",
        "description": "这是一个文档",
        "version": "1.0.0"
    },
    "host": "api.deeporiginalx.com",
    "schemes": [
        "http"
    ],
    "basePath": "/bdp/news",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/channels": {
            "get": {
                "summary": "获取频道",
                "description": "频道列表查询",
                "tags": [
                    "Configs"
                ],
                "parameters": [
                    {
                        "name": "online",
                        "in": "query",
                        "description": "标示所请求的频道是不是上线的",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "完成请求",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/channel"
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "channel": {
            "type": "object",
            "properties": {
                "code": {
                    "description": "返回验证状态值",
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "description": "返回消息",
                    "type": "string"
                },
                "data": {
                    "type": "array",
                    "items": {
                        "cname": {
                            "description": "频道名称",
                            "type": "string"
                        },
                        "online": {
                            "description": "是否上线",
                            "type": "string"
                        },
                        "id": {
                            "description": "频道ID",
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                }
            }
        },
        "Configer": {
            "type": "object",
            "properties": {
                "startPage": {
                    "type": "object",
                    "description": "娑堣垂淇℃伅",
                    "properties": {
                        "imageUrl": {
                            "type": "string",
                            "description": "鍚姩椤靛浘鐗囧湴鍧€"
                        }
                    }
                }
            }
        },
        "Feed": {
            "type": "object",
            "properties": {
                "nextPageUrl": {
                    "type": "string"
                },
                "nextPublishTime": {
                    "type": "number",
                    "format": "double"
                },
                "issueList": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Feeds"
                    }
                }
            }
        },
        "Feeds": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer",
                    "format": "int32"
                },
                "publishTime": {
                    "type": "integer",
                    "format": "int64"
                },
                "type": {
                    "type": "string"
                },
                "date": {
                    "type": "number",
                    "format": "double"
                },
                "itemList": {
                    "type": "array",
                    "description": "鏁版嵁鍒楄〃鍒楄〃",
                    "items": {
                        "$ref": "#/definitions/FeedItem"
                    }
                }
            }
        },
        "FeedItem": {
            "type": "object",
            "properties": {
                "type": {
                    "type": "string"
                },
                "data": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "date": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "title": {
                            "type": "string"
                        },
                        "description": {
                            "type": "string"
                        },
                        "category": {
                            "type": "string"
                        },
                        "duration": {
                            "type": "number",
                            "format": "double"
                        },
                        "playUrl": {
                            "type": "string"
                        },
                        "playInfo": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/FeedPlayInfo"
                            }
                        },
                        "consumption": {
                            "type": "object",
                            "properties": {
                                "collectionCount": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "shareCount": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "playCount": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "replyCount": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "provider": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "alias": {
                                    "type": "string"
                                },
                                "icon": {
                                    "type": "string"
                                }
                            }
                        },
                        "webUrl": {
                            "type": "object",
                            "properties": {
                                "raw": {
                                    "type": "string"
                                },
                                "forWeibo": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "FeedPlayInfo": {
            "type": "object",
            "properties": {
                "height": {
                    "type": "integer",
                    "format": "int32"
                },
                "width": {
                    "type": "integer",
                    "format": "int32"
                },
                "name": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        }
    }
}
